$bg-color: rgba(218,227,229,1);
$font-color: rgba(100,100,100,1);
$nav-link: rgba(145,145,145,1);
$title: rgba(120,120,120,1);
$shadow-color: rgba(200,200,200,1);
$logo-shadow-color: rgba(100,100,100,1);

$white: rgba(255,255,255,1);
$blue-black: rgba(35,42,65,1);
$white-opac: rgba(255,255,255,0.9);
$green: rgba(69,226,59,1);
$blue: rgba(59,152,226,1); // old blue
$teal: rgba(53,136,140,1);
$orange: rgba(226,133,59,1);
$red: rgba(216,59,226,1);

