$bg-top: rgba(45,67,91,1);
$bg-mid: rgba(36,72,72,1);
$bg-bottom: rgba(84,96,122,1);
$font-color: rgba(156,156,156,1);
$nav-link: rgba(145,145,145,1);
$nav-link-bg: rgba(230,230,230,1);

$white: rgba(255,255,255,1);
$green: rgba(27,188,155,1);
$blue: rgba(74,27,188,1);
$yellow: rgba(141,188,127,1);
$red: rgba(188,27,61,1);

