
.navbar-default {
  border: 0;
  border-radius: 2px;
  background: $blue-black;
  height: 75px;
  margin: 0;
  width: 100%;
  .navbar-collapse {
    padding: 0;
  }
  .navbar-nav {
    padding-left: 20px;
    li {
      padding: 10px 30px 0 30px;
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        flex-direction: column;
        color: $white;
        padding: 0;

        &:hover,
        &.active,
        &:focus,
        &.active:focus,
        &.active:focus {
          color: $white;
        }
        span:first-of-type {
          margin-top: 10px;
        }
      }
    }
  }
  .navbar-right {
    margin-top: 10px;
    padding-left: 0;
    a {
      &:hover {
        cursor: pointer;
      }
    }
    .nav_signup {
      background: $orange;
      color: $white;
      text-shadow: 1px 1px 1px $blue-black;
      &:hover {
        background: $blue !important;
      }
      &:focus,
      &.active:focus,
      &.active:focus {
        outline: none;
      }
    }
  }
}
