$bootstrap-sass-asset-helper: true;
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './colors.scss';

html,
body {
  height: 100%;
  background: linear-gradient($bg-top 40%, $bg-mid 40%, $bg-mid 60%, $bg-bottom 60%, $bg-bottom 100%);
}

textarea {
  resize: vertical;
}

.row {
  margin: 0;
}

.container {
  margin-top: 40px;
}

.navbar,
ul.list-group,
li.list-group-item,
.post_item,
.comments_section,
.review_item,
.question_item,
.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.page_header_content {
  color: $font-color;
  background-color: $white;
  border-radius: 3px;
}

.navbar,
.logo {
  margin-bottom: 40px;
}

.navbar-default {
  border: 0;

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    li {

      &:hover {
        border-bottom: 3px solid $green;
        background: $nav-link-bg;
      }

      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $nav-link;
        padding: 20px 40px 20px 40px;

        &:hover {
          color: $green;
        }
      }
    }
  }
}

.signout_div {
  padding: 28px 40px 27px 0;

  .signout_btn {
    margin-left: 10px;
  }
}

.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt {
  padding: 20px;
}

.signin_form,
.signup_form,
.question_form,
.edit_comment_form,
.signup_prompt {
  margin-bottom: 30px;
}

.login {
  margin-top: 20px;
}

.post_list,
.review_list,
.question_list {
  padding-left: 0;
}

.side_bar {
  padding-right: 0;
  padding-left: 0;

  ul > li:first-of-type {
    background-color: $green;
    border: 0;
  }

  ul > li {
    padding: 15px 25px 15px 25px;
  }
}

.page {
  padding-left: 0;
  padding-right: 0;

  .page_list{
    padding-left: 0;

    .page_header_content {
      margin-bottom: 0;
      padding: 17px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .page_header_title {
        padding: 0;
      }
    }
  }
}

.post_item,
.review_item,
.question_item {
  padding: 20px;
  margin-bottom: 20px;
}

.comments_list,
.reply_list {
  list-style: none;
}

.comment_item {
  padding: 10px;
}

.specs_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style: none;
}

.proscons,
.date {
  margin-bottom: 40px;
}

.checkbox_label,
.edit_link {
  margin-right: 5px;
}

// COLOR ADJUST
hr.color_bar {
  border: none;
  height: 5px;
  margin: 0 0 30px 0;
 background: linearGradient(to right, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%);
 background: -webkit-linear-gradient(left, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%)
}

h3 {
  color: $white;
}

.logo {
  color: $white;
}

a {
  color: $bg-bottom;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.btn-default {
  color: $font-color;
  border: none;

  &:hover,
  &.active,
  &:focus {
    color: $green;
    background: $white;
    outline: none;
  }
}