$bootstrap-sass-asset-helper: true;
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './colors.scss';
@import './nav.scss';
@import url('https://fonts.googleapis.com/css?family=Pavanam|Gruppo|Roboto|Muli|PT+Sans:400i|Open+Sans|Lato:300');

html,
body {
  height: 100%;
}

textarea {
  resize: vertical;
}

ul {
  list-style: none;
}

.row {
  margin: 0;
}

.container {
  margin-top: 20px;
  position: relative;
  z-index: 0;
  padding: 0;
  max-width: 960px;

  &:after {
    content: '';
    display: block;
    height: 200px;
  }
}

.header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
  .nav_box,
  .logo_box {
    padding: 0;
  }
  .logo_box {
    border: 1px solid $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 150px;
    width: 190px;
    -webkit-box-shadow: 2px 2px 5px 0 $logo-shadow-color;
            box-shadow: 2px 2px 5px 0 $logo-shadow-color;
    border-radius: 2px;
    position: relative;
    z-index: 1;
    a {
      text-decoration: none;
      &:active,
      &:hover,
      &.active,
      &.active.hover {
        text-decoration: none;
      }
    }
    .logo {
      margin: 0;
    }
  }
  .nav_box {
    width: 100%;
    position: relative;
    padding-bottom: 26px;
  }
}

.footer,
.container:after {
  height: 120px;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0;

  .col-md-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.page_list{
  padding-left: 0;
  .page_header_content {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.color_bar_div {
  padding: 0;
}

.article_list {
  .article_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      padding: 10px;
    }
  }
}

.comments_section {
  margin-bottom: 30px;
}

.comment_item {
  padding: 10px;
}

#postCarousel {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 20px solid $blue;
  border-top: 5px solid $blue;
  .carousel-indicators {
     margin-bottom: 0 !important;
    li {
      background: $bg-color;
    }
  }
  .article_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 280px;
    padding: 10px;
    border: 0;
  }
}

.side_bar {
  padding-right: 0;
  padding-left: 0;
  ul {
    border: 1px solid $shadow-color;
    border-radius: 2px;
    li:first-of-type {
    border-top: 0;
    padding: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
    li {
      border-left: 0;
      border-right: 0;
      padding: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    li:last-of-type {
      border-bottom: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  .col-md-7,
  .col-md-5 {
    padding: 0;
  }
}

.about {
  padding: 10px;
  img {
    height: 370px;
    width: 277px;
    padding-top: 3px;
  }
}

.color_bar {
  margin-top: 0;
}

.signout_div {
  padding: 20px 40px 20px 0;
  .signout_btn {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.delete_form,
.create_article_form,
.edit_article_form,
.search_form {
  padding: 20px;
}

.admin_page {
  .delete_form,
  .edit_form {
    padding: 10px;
  }
  .col-md-4 {
    padding-left: 0;
  }
  .admin_main {
    padding-left: 0;
  }
}

.signin_form,
.signup_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.create_article_form,
.delete_form,
.search_form {
  margin-bottom: 30px;
}

.login {
  margin-top: 20px;
}

.auth_children {
  padding-right: 0;
  padding-left: 0;
}

.specs_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.addSpecs_list > li {
  padding: 10px;
  .spec_title {
    text-decoration: underline;
  }
}

.keywords_list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  padding-bottom: 10px;
}

.date {
  margin-bottom: 20px;
  display: inline-block;
}

.proscons {
  margin-bottom: 30px;
}

.checkbox_label,
.edit_link {
  margin-right: 5px;
}

.modal_box {
  z-index: 2;
}

.delete_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


/* ------------------------------- COLOR ADJUST ------------------------------- */

html,
body,
.container {
  background: $bg-color;
}

.nav_box {
  div:first-of-type {
    color: $shadow-color;
  }
}

.logo_box {
  background: $blue;
  .logo {
    color: $white;
  }
}

.publish_div {
  .btn-default {
    border: 1px solid $shadow-color;
    border-radius: 2px;
  }
}

.about,
.article,
.article_item,
.comments_section,
.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.page_header_content,
.delete_modal,
.create_article_form,
.delete_form,
.edit_form,
.search_form {
  background: $white;
  color: $font-color;
  border: 1px solid $shadow-color;
  border-radius: 2px;
}

.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.delete_form,
.delete_modal,
.edit_form,
.edit_article_form {
  background: $white;
}

.side_bar {
  ul {
    border: 1px solid $shadow-color;
    border-bottom: 5px solid $blue;
    li:first-of-type {
      background-color: $blue;
    }
  }
}

.color_bar {
  border: none;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, $green), color-stop(25%, $red), color-stop(50%, $red), color-stop(50%, $orange), color-stop(75%, $orange), color-stop(75%, $blue), to($blue));
  background: linear-gradient(to right, $green 25%, $red 25%, $red 50%, $orange 50%, $orange 75%, $blue 75%, $blue 100%);
}

h1,
h2:not(.list_title),
h3,
h4,
h5 {
  color: $title;
}

.list_group_title,
.fa-spinner {
  color: $white;
  text-shadow: 1px 1px 1px $font-color;
}

a {
  color: $blue-black;
  &:hover,
  &.active,
  &:active,
  &.active:focus,
  &.active.focus {
    color: $blue;
    text-decoration: none;
  }
}

.signout_div {
  color: $white;
  a {
    color: $white;
    &:hover,
    &:focus,
    &.active,
    &:active,
    &.active:focus,
    &.active.focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

.btn.btn-default.nav_signup {
  &:hover,
  &:focus,
  &.active,
  &:active,
  &.active:focus,
  &.active.focus {
    color: $white;
  }
}

.btn.btn-default {
  color: $font-color;
  border: none;
  &:hover,
  &.active,
  &:active,
  &.active:focus,
  &.active.focus {
    color: $blue;
    background: $white !important;
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  &:focus {
    color: $font-color;
    background: $white !important;
    outline: none !important;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.footer {
  a {
    color: $font-color;
    &:hover,
    &.active,
    &:active,
    &.active:focus,
    &.active.focus {
      color: $blue
    }
  }
}

/* ------------------------------- FONTS ------------------------------- */

html,
body {
  font-family: 'Pavanam', sans-serif;
}

.logo {
  font-family: 'Gruppo', sans-serif;
  font-size: 32px;
}

p:not(.comment_content) {
  font-size: 1.2em;
  font-family: Lato, sans-serif;
}

/* ------------------------------- MEDIA QUERIES ------------------------------- */

@media (min-width : 320px) and (max-width : 767px) {
  .navbar-default {
    .navbar-header {
      padding-top: 10px;
    }
      .navbar-collapse {
        position: absolute;
        z-index: 1;
        background: $blue-black;
        margin-top: 50px;
        .nav.navbar-nav {
          padding: 0;
          margin: 0;
          li {
            padding: 10px;
          }
        }
      .signout_div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px;

        .signout_btn {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  .carousel {
    display: none;
  }

  .page_list {
    padding-right: 0;
  }

  .article_list {
    .article_item {
      display: block;
      margin-bottom: 20px;
      img {
        padding: 10px;
      }
    }
  }

  .comments_section {
    margin-top: 70px;
  }

  .admin_main {
    padding-right: 0;
  }

  .admin_page > .col-sm-4.side_bar > ul:nth-child(3) > .list-group-item > .col-sm-7 > small {
    margin-right: 10px;
  }
}

@media (min-width : 768px) and (max-width : 991px) {
  .navbar-default {
    .nav.navbar-nav {
      li {
        padding: 10px 20px 0 20px;
      }
    }
    .nav.navbar-nav.navbar-right {
      margin: 0;
      .nav_signup {
        margin-top: 30px;
        margin-right: 15px;
      }
    }
    .signout_div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 5px;
      .signout_btn {
        margin: 0 0 10px 0;
      }
    }
  }
}
