$bootstrap-sass-asset-helper: true;
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Audiowide|Bungee+Hairline|Nova+Mono|Pavanam|Revalia|Stint+Ultra+Expanded|Wallpoet');

html,
body {
  height: 100%;
  background: -webkit-linear-gradient($bg-top 40%, $bg-mid 40%, $bg-mid 60%, $bg-bottom 60%, $bg-bottom 100%);
  background: -moz-linear-gradient($bg-top 40%, $bg-mid 40%, $bg-mid 60%, $bg-bottom 60%, $bg-bottom 100%);
  background: -o-linear-gradient($bg-top 40%, $bg-mid 40%, $bg-mid 60%, $bg-bottom 60%, $bg-bottom 100%);
  background: linear-gradient($bg-top 40%, $bg-mid 40%, $bg-mid 60%, $bg-bottom 60%, $bg-bottom 100%);;
  font-family: 'Pavanam', sans-serif;
}

textarea {
  resize: vertical;
}

.row {
  margin: 0;
}

.container {
  margin-top: 40px;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}

// .logo {
//   font-family: 'Wallpoet', sans-serif;
// }

.navbar,
ul.list-group,
li.list-group-item,
.article_item,
.article,
.post,
.post_item,
.comments_section,
.review,
.review_item,
.question,
.question_item,
.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.page_header_content,
.delete_modal,
.create_article_form {
  color: $font-color;
  background-color: $white;
  border-radius: 3px;
}

ul > li {
  background-color: $white;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-default {

  &:hover {
    border-bottom: 0;
  }

  .navbar-collapse {
    padding: 0;
  }

  .navbar-nav {
    li {

      &:hover {
        border-bottom: 3px solid $green;
        background: $nav-link-bg;
      }

      a {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $nav-link;
        padding: 20px 40px 20px 40px;

        &:hover,
        &.active,
        &:focus,
        &.active:focus,
        &.active:focus {
          color: $green;
        }

        span:first-of-type {
          margin-top: 10px;
        }

      }
    }
  }
}

.signout_div {
  padding: 30px 40px 30px 0;

  .signout_btn {
    margin-left: 10px;
  }
}

.signin_form,
.signup_form,
.comment_form,
.question_form,
.edit_comment_form,
.signup_prompt,
.delete_modal,
.create_article_form {
  padding: 20px;
}

.signin_form,
.signup_form,
.question_form,
.edit_comment_form,
.signup_prompt {
  margin-bottom: 30px;
}

.login {
  margin-top: 20px;
}

.post_list,
.review_list,
.question_list,
.article_list,
.admin_main {
  padding-left: 0;
}

.auth_children {
  padding-right: 0;
  padding-left: 0;
}

.side_bar {
  padding-right: 0;
  padding-left: 0;

  ul > li:first-of-type {
    background-color: $green;
    padding: 5px 25px 5px 25px;;
    border: 0;
  }

  ul > li {
    padding: 15px 25px 15px 25px;

    img {
      margin-right: 10px;
    }
  }
}

.page {
  padding-left: 0;
  padding-right: 0;

  .page_list{
    padding-left: 0;

    .page_header_content {
      margin-bottom: 0;
      padding: 17px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      .page_header_title {
        padding: 0;
      }
    }
  }
}

.post,
.review,
.question,
.article,
.post_item,
.review_item,
.question_item ,
.article_item {
  margin-bottom: 20px;
}

.post,
.review,
.question,
.article,
.list_info,
.question_item {
  padding: 20px;
}

.post,
.review,
.question,
.article {
  small {
    margin-bottom: 20px;
  }
}

.list_img {
  padding: 5px;
}

.cover_img {
  padding: 0;
}

.comment_item {
  padding: 10px;
}

.specs_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.date {
  margin-bottom: 40px;
  display: inline-block;
}

.proscons {
  margin-bottom: 40px;
}

.checkbox_label,
.edit_link {
  margin-right: 5px;
}

// COLOR ADJUST
hr.color_bar {
  border: none;
  height: 5px;
  margin: 0 0 30px 0;
  background: -webkit-linear-gradient(left, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%);
  background: -moz-linear-gradient(left, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%);
  background: -o-linear-gradient(left, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%);
  background: linear-gradient(to right, $green 25%, $red 25%, $red 50%, $yellow 50%, $yellow 75%, $blue 75%, $blue 100%);
}

h1,
h2:not(.list-title),
h3,
h4,
h5 {
  color: $title;
}

.list_group_title,
.fa-spinner {
  color: $white;
  text-shadow: 1px 1px 1px $font-color;
}

.logo {
  color: $white;
}

a {
  color: $bg-bottom;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

.btn {
  color: $font-color;
  border: none;

  &:hover,
  &.active,
  &:active,
  &.active:focus,
  &.active.focus, {
    color: $green;
    background: $white !important;
    outline: none !important;
    box-shadow: none;
  }
}